* {
    margin: 0;
}

header{
    font-size: 48px;
   
}
.blue {
    /* background-image: url(git.png);
    background-position: right;
    /* background-repeat: no-repeat;  */
    border-radius: 15px;
    background: rgb(245, 232, 222);
    padding: 10px 50px 20px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.119);
    margin: 20px;
    
}
p{
    width: 400px;
    text-align: justify
    ;
}
.logo {
    width: 75px;
    height: 75px;
    margin: 0px 0px 0px 50px;    
}
.ancor {
    font-size: 20px;
    margin-right: 50px;
    padding-left: 20px;
   
}
a{
    text-decoration: none;
    margin-left: 30px;
}
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.148);
        
    }
button{ 
    margin-left: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 0, 72);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
button:active{
    background-color: blanchedalmond;
    
}s
button:hover{
    color: brown;
}