header{
    font-size: 48px;
    padding: 20px 0px 0px 0px;
}
.blue {
    /* background-image: url(git.png);
    background-position: right;
    background-repeat: no-repeat; */
    border-radius: 15px;
    background: rgb(245, 232, 222);
    padding: 10px 50px 20px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.119);
    margin: 20px10;
    
}
p{
    width: 400px;
    text-align: justify
    ;
}